name: Build application

on:
  push:
  workflow_dispatch:

jobs:
  build-application:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Build application
        run: ./gradlew build
